<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="sample_id">
    <environment id="sample_id">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/blowish"/>
        <property name="username" value="blowish"/>
        <property name="password" value="blowish"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="/resources/mybatis-blowish-mapper.xml"/>
  </mappers>
</configuration>